<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | {{ config_get('app.name') }}</title>
        <link rel="stylesheet" href="{{ elixir('/gnosis/css/style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            {% include 'gnosis/partials/_navigation.twig' %}
            <div class="content">
                <header class="content__header">
                    <a class="content__menu-button" href="#">
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_menu"></use>
                        </svg>
                    </a>
                    <h1>{{ block('title') }}</h1>
                    <div class="content__actions">
                        <div class="content__logout">
                            <a href="{{ route('logout') }}">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_logout"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </header>
                <main class="content__main">
                    <div class="content__page">
                        {% if session('flash_message') %}
                            {% include 'gnosis/partials/_flash.twig' with {'flash' : {'type' : session('flash_message.type'), 'message' : session('flash_message.message') }} %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
        <script src="{{ elixir('/gnosis/js/script.js') }}"></script>
        {% include 'gnosis/partials/_critical-js.twig' %}
    </body>
</html>
