{% extends 'gnosis/layouts/blank.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="login">
        {% if session('flash_message') %}
            {% include 'gnosis/partials/_flash.twig' with {'flash' : {'type' : session('flash_message.type'), 'message' : session('flash_message.message') }} %}
        {% endif %}
        {{ form_open({'route' : 'reset.post', 'method' : 'POST', 'class' : 'form login__form'}) }}
            <div class="grid grid--gutters margin-bottom">
                <div class="grid__col grid__col--md-12">
                    <div class="login__logo">
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_gnosis"></use>
                        </svg>
                    </div>
                </div>
                <div class="grid__col grid__col--md-12 margin-bottom">
                    <p class="margin-bottom-clear">Enter your new password below:</p>
                    <div class="form__field">
                        {{ form_label('email', 'Email') }}
                        {{ form_email('email', null, {'required' : 'required'}) }}
                    </div>
                </div>
                <div class="grid__col grid__col--md-12 margin-bottom">
                    <div class="form__field">
                        {{ form_label('password', 'Password') }}
                        {{ form_password('password', null, {'required' : 'required'}) }}
                    </div>
                </div>
                <div class="grid__col grid__col--md-12 margin-bottom">
                    <div class="form__field">
                        {{ form_label('password_confirmation', 'Confirm Password') }}
                        {{ form_password('password_confirmation', null, {'required' : 'required'}) }}
                    </div>
                </div>
                <div class="grid__col grid__col--md-12">
                    <div class="form__field align-center">
                        {{ form_hidden('token', token) }}
                        {{ form_button('Login', {'type' : 'submit', 'class' : 'button button--primary'}) }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="align-center">
                <a href="{{ route('login.get') }}">Return to login</a>
            </div>
        {{ form_close() }}
    </div>
{% endblock %}
