{% extends 'gnosis/layouts/master.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    {% include 'gnosis/partials/_toolbar.twig' %}
    <table class="table table--striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th width="90">Created</th>
                <th width="90">Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td>
                        {{ model.name|capitalize }}
                        <span class="table__controls">
                            <a href="{{ route('users.edit', model.id) }}">Edit</a> | <a class="confirm" href="{{ route('users.destroy', model.id) }}">Bin</a>
                        </span>
                    </td>
                    <td>{{ model.username }}</td>
                    <td>{{ model.email }}</td>
                    <td>{{ model.created_at|date('d/m/Y') }} {{ model.created_at|date('H:i') }}</td>
                    <td>{{ model.updated_at|date('d/m/Y') }} {{ model.updated_at|date('H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </tfoot>
    </table>
    {{ models.links('gnosis/partials/_pagination')|raw }}
{% endblock %}
