{% extends 'gnosis/layouts/master.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    {% include 'gnosis/partials/_toolbar.twig' with {'link_new' : route('users.create')} %}
    <table class="table table--striped">
        <thead>
            <tr>
                <th class="show-mobile">Name</th>
                <th>Email</th>
                <th width="90">Roles</th>
                <th width="90">Created</th>
                <th width="90">Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
                <tr>
                    <td class="show-mobile">
                        {{ model.name|capitalize }}
                        <span class="table__controls">
                            <a href="{{ route('users.edit', model.id) }}">Edit</a> |
                            {{ form_open({'route' : ['users.destroy', model.id], 'method' : 'DELETE', 'class' : 'table__form'}) }}
                                {{ form_button('Delete', {'type' : 'submit', 'value' : 'delete'}) }}
                            {{ form_close() }}
                        </span>
                    </td>
                    <td>{{ model.email }}</td>
                    <td>
                        <ul class="table__roles">
                            {% for role in model.roles %}
                                <li class="table__role table__role--{{ role.name }}">{{ role.label }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ model.created_at|date('d/m/Y') }} {{ model.created_at|date('H:i') }}</td>
                    <td>{{ model.updated_at|date('d/m/Y') }} {{ model.updated_at|date('H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="show-mobile">Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </tfoot>
    </table>
    {{ models.links('gnosis/partials/_pagination')|raw }}
{% endblock %}
