<nav class="nav">
    <div class="nav__logo">
        <div class="logo">

        </div>
    </div>
    <div class="nav__user">
        <div class="user-info">
            <div class="user-info__photo">
                <img src="https://unsplash.it/128/128/?blur" alt="John Smith" />
            </div>
            <div class="user-info__details">
                <span class="user-info__name">{{ auth_user().name }}</span>
            </div>
        </div>
    </div>
    <ul>
        <li class="nav__item {{ app.request.path == 'cms' ? 'nav__item--active' : '' }}">
            <a href="{{ route('dashboard') }}">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_dashboard"></use>
                </svg><span class="nav__label">Dashboard</span>
            </a>
        </li>
        <li class="nav__item {{ 'cms/templates' in app.request.path ? 'nav__item--active' : '' }} nav__item--disabled">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_templates"></use>
                </svg><span class="nav__label">Templates</span>
            </a>
        </li>
        <li class="nav__item {{ 'cms/pages' in app.request.path ? 'nav__item--active' : '' }} nav__item--disabled">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_pages"></use>
                </svg><span class="nav__label">Pages</span>
            </a>
        </li>
        <li class="nav__item {{ 'cms/analytics' in app.request.path ? 'nav__item--active' : '' }} nav__item--disabled">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_analytics"></use>
                </svg><span class="nav__label">Analytics</span>
            </a>
        </li>
        <li class="nav__item {{ 'cms/users' in app.request.path ? 'nav__item--active' : '' }} {{ app.request.is('users') }}">
            <a href="{{ route('users.index') }}">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_users"></use>
                </svg><span class="nav__label">Users</span>
            </a>
        </li>
        <li class="nav__item {{ 'cms/settings' in app.request.path ? 'nav__item--active' : '' }} nav__item--disabled">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_settings"></use>
                </svg><span class="nav__label">Settings</span>
            </a>
        </li>
    </ul>
</nav>
